@import 'tailwindcss';
@import '../index.css';

.post {
  line-height: 1.125;
}

.post h2,
.post h2,
.post h3,
.post h4 {
  font-family: Inter Variable;
  @apply mb-2 font-bold
}

.post h2 {
  @apply text-3xl;
}

.post h3 {
  @apply text-2xl;
}

.post h4 {
  @apply text-xl;
}

.post p {
  @apply text-gray-300 my-6;
}

.post p code {
  padding-block: 3px;
  padding-inline: 6px;
  @apply text-sm rounded-md bg-muted text-primary;
}

.post h2+p {
  @apply mt-1;
}

.post p:has(> img) {
  @apply flex flex-col items-center my-4 mx-auto;
}

.post li p:has(> a) {
  @apply m-0
}

.post a {
  @apply underline text-white font-medium;
}

.post ul,
.post ol {
  @apply p-4 pt-0
}

.post li {
  margin-bottom: 0.2rem;
}

.post ul li {
  list-style-type: disc;
}

.post ol li {
  list-style-type: decimal;
}

.post pre {
  @apply overflow-x-auto max-w-[92vw];
}

.post pre {
  @apply my-6 mx-0 bg-white rounded-sm overflow-x-auto;
}

.post .hljs {
  overflow-x: scroll !important;
}

.post pre code {
  @apply p-4 bg-transparent;
}

.post blockquote {
  position: relative;
  background-color: var(--primary-color);
  padding: 0.5rem 1rem;
  padding-left: 1.8rem;
  margin-bottom: 1rem;
}

.post blockquote::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 10px;
  left: 0;
  top: 0;
  background-color: var(--blog-border);
}

.post blockquote p:first-child:nth-last-child(2)~p {
  font-style: italic;
}

.post blockquote p {
  margin: 0;
}


.footer hr {
  opacity: 0.5;
}

@media (prefers-color-scheme: dark) {
  .post pre {
    background-color: #07111a;
  }
}
